form li:nth-child(odd){
    background-color: gray;
}
form li:nth-child(even){
    background-color: white;
}
form li::before{
    content: "==>";
}
form li:hover{
    cursor: pointer;
    background-color: lightgray;
}
input[type="checkbox"]:checked + label::after {
  content: " \005C/"; 
  color: green;
}
main{
    padding: 15px 20px;
    background-color: burlywood;
}